<ion-content>
  <ion-grid class="full-height">
    <ion-row justify-content-center align-items-center class="full-height">
      <div class="backdrop" (click)="close()">
      </div>

      <ion-card class="modal-content">
        <ion-row class="modal-header">
          <ion-row>
            <ion-text>text</ion-text>
          </ion-row>
          <span></span>
          <ion-icon class="close-btn" name="close-outline" (click)="close()"></ion-icon>
        </ion-row>
        <ion-card-header>
          <ion-card-title>{{title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="image" ></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

