<ion-header>
    <ion-toolbar>
        <ion-title>{{languagesService.mode().settings}}</ion-title>
        <ion-icon (click)="close()" name="close" slot="end" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="margin-card card-item card-wrapper">
                    <ion-item (click)="notice()" lines="none">
                        <ion-img src="/assets/tv.svg" class="icon"></ion-img>
                        <ion-grid>
                            <ion-row>
                                <ion-label class="item-text">Notice</ion-label>
                            </ion-row>
                            <ion-row>
                                <ion-note>Find out about recent news from Save Technologies</ion-note>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item (click)="inquire()" lines="none">
                        <ion-img src="/assets/message.svg" class="icon"></ion-img>
                        <ion-grid>
                            <ion-row>
                                <ion-label class="item-text">Inquire</ion-label>
                            </ion-row>
                            <ion-row>
                                <ion-note>Have any questions? inquire today</ion-note>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item (click)="howToUse()" lines="none">
                        <ion-img src="/assets/shapes.svg" class="icon"></ion-img>
                        <ion-grid>
                            <ion-row>
                                <ion-label class="item-text">How to use our app</ion-label>
                            </ion-row>
                            <ion-row>
                                <ion-note>Directions on how to use Save mobile</ion-note>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item (click)="myProfil()" lines="none">
                        <ion-img src="/assets/user.svg" class="icon"></ion-img>
                        <ion-grid>
                            <ion-row>
                                <ion-label class="item-text">{{languagesService.mode().profile}}</ion-label>
                            </ion-row>
                            <ion-row>
                                <ion-note>{{languagesService.mode().subProfile}}</ion-note>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-img *ngIf="languagesService.language == 'en'" src="/assets/united-kingdom.svg" class="icon"></ion-img>
                        <ion-img *ngIf="languagesService.language == 'kr'" src="/assets/south-korea.svg" class="icon"></ion-img>
                        <ion-img *ngIf="languagesService.language == 'fr'" src="/assets/france.svg" class="icon"></ion-img>
                        <ion-label>{{languagesService.mode().lang}}</ion-label>
                        <ion-select placeholder="Select One" [ngModel]="languagesService.language" (ionChange)="languagesService.selectLanguage($event)">
                            <ion-select-option value="kr">{{languagesService.mode().korean}}</ion-select-option>
                            <ion-select-option value="en">{{languagesService.mode().english}}</ion-select-option>
                            <ion-select-option value="fr">{{languagesService.mode().french}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item (click)="share()" lines="none">
                        <ion-img src="/assets/users.svg" class="icon"></ion-img>
                        <ion-label class="item-text">{{languagesService.mode().share}}</ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-img src="/assets/notification.svg" class="icon"></ion-img>
                        <ion-label class="item-text">Allow notifications</ion-label>
                        <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()" mode="ios"></ion-toggle>
                    </ion-item>
                    <ion-item lines="none" (click)="signOut()">
                        <ion-img src="/assets/logout.svg" class="icon"></ion-img>
                        <ion-label class="item-text">{{languagesService.mode().signOut}}</ion-label>
                    </ion-item>
                    <ion-item lines="none" (click)="privacyPolicy()">
                        <ion-img src="/assets/insurance.svg" class="icon"></ion-img>
                        <ion-label class="item-text">Privacy policy</ion-label>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
