<ion-header>
  <ion-toolbar>
    <ion-title>{{details.name}}</ion-title>
    <ion-icon (click)="close()" name="close" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="details.field==='car'">
    <ion-item lines="none">
      <ion-text>{{details.briefInfo}}</ion-text>
    </ion-item>

  </div>
  <div *ngIf="details.field==='cv'">
    <ion-item lines="none">
      <ion-text>{{details.profile}}</ion-text>
    </ion-item>

  </div>
  <div *ngIf="details.field==='re'">
  </div>

</ion-content>
