<ion-content>
  <div class="padding">
    <ion-img src="/assets/auth.svg">
    </ion-img>

    <div *ngIf="!connected">
      <ion-item lines="none">
        <ion-label class="align" color="dark">Connect to your account</ion-label>
      </ion-item>
      <div *ngIf="errorMessage" class="error">
        {{errorMessage}}
      </div>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Email</ion-label>
        <ion-input color="dark" [(ngModel)]="username" placeholder="Enter your email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Password</ion-label>
        <ion-input type="password" color="dark" [(ngModel)]="password" placeholder="Enter your password">
        </ion-input>
      </ion-item>
      <p class="link" (click)="goTo('forgot-password')"><ion-text color="primary">Forgot password ?</ion-text></p>
      <ion-button (click)="login()" expand="block" color="primary" mode="ios" class="margin-top radius">
        <span *ngIf="!loading">Log In</span><ion-spinner *ngIf="loading"ion-spinner name="dots"></ion-spinner>
      </ion-button>
      <p class="link" (click)="goTo('signup')">Doesn't have an account? <ion-text color="primary">Sign up</ion-text></p>
    </div>
  </div>
</ion-content>
