ion-content{
  --ion-background-color: #fff;
  padding:20px!important;
}

ion-item{
  --padding-start: 0!important;
  --inner-padding-end:0!important;
  --inner-padding-start:0!important;
}
ion-label{
  font-weight:600!important;
}
ion-img{
  width:80%;
  max-width:200px;
  margin:auto;
}
.margin-top{
  margin-top:25px!important;
}

.align{
  text-align: center;
}
.padding{
  padding:20px;
  margin:auto;
  padding-top:30%;
}

.link{
  text-align:center;
  font-weight:700;
}
.error{
  color: var(--ion-color-danger)
}
