<ion-header>
  <ion-toolbar>
    <ion-title>{{languagesService.mode().renderVideo}}</ion-title>
    <ion-icon (click)="close()" name="close" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <ion-img src="/assets/select.svg">
    </ion-img>

    <ion-list>
      <ion-list-header>
        <ion-label>
          {{languagesService.mode().aveOptions}}
        </ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-label>{{languagesService.mode().field}}</ion-label>
        <ion-select [placeholder]="languagesService.mode().selectOne" [ngModel]="field" (ionChange)="selectAveField($event)">
          <ion-select-option value="cars">Cars</ion-select-option>
          <ion-select-option value="realestate">Real Estate</ion-select-option>
          <ion-select-option value="cvs">CVs</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label>{{languagesService.mode().lang}}</ion-label>
        <ion-select [placeholder]="languagesService.mode().selectOne" [ngModel]="language" (ionChange)="selectAveLanguage($event)" cancelText="Dismiss">
          <ion-select-option value="kr">{{languagesService.mode().korean}}</ion-select-option>
          <ion-select-option value="en">{{languagesService.mode().english}}</ion-select-option>
          <ion-select-option value="fr">{{languagesService.mode().french}}</ion-select-option>

        </ion-select>
      </ion-item>

    </ion-list>
    <ion-button (click)="render()" expand="block" color="primary" mode="ios">
      {{languagesService.mode().continue}}
    </ion-button>
  </div>


</ion-content>
