<ion-content>
  <div class="padding paddingTop">
    <ion-img src="/assets/auth.svg">
    </ion-img>
    <div>
      <ion-item lines="none">
        <ion-label class="align" color="dark">Please enter your information</ion-label>
      </ion-item>
      <div *ngIf="errorMessage" class="error">
        {{errorMessage}}
      </div>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Email <span class="required">*</span></ion-label>
        <ion-input type="email" color="dark" [(ngModel)]="email" placeholder="Enter your email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Password <span class="required">*</span></ion-label>
        <ion-input type="password" color="dark" [(ngModel)]="password" placeholder="Enter your password">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Username<span class="required">*</span></ion-label>
        <ion-input color="dark" [(ngModel)]="username" placeholder="Enter your username"></ion-input>
      </ion-item>
      <ion-button (click)="signUp()" color="primary" [disabled]="loading" expand="block" mode="ios"
                  class="margin-top  btn radius">
        <span *ngIf="!loading">Sign Up</span>
        <ion-spinner *ngIf="loading" ion-spinner name="dots"></ion-spinner>
      </ion-button>
      <p class="link" (click)="goTo('login')">Already have an account? <ion-text color="primary">Log In</ion-text>
      </p>
    </div>
  </div>
</ion-content>
