ion-content{
  --ion-background-color: #fff;
  padding:20px!important;

}
.error{
  color: var(--ion-color-danger)
}
.required{
  color: var(--ion-color-danger);
}
.checkbox-wrapper{
  font-size:14px;
  line-height:25px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  ion-checkbox{
    min-width:25px;
    margin-right:8px;
  }
  .link{
    font-weight:700;
    color: var(--ion-color-primary);
    display: inline;
  }
}

ion-item{
  --ion-background-color: transparent!important;
  --padding-start: 0!important;
  --inner-padding-end:0!important;
  --inner-padding-start:0!important;
}
ion-label{
  font-weight:600!important;
}
ion-img{
  width:80%;
  max-width:200px;
  margin:auto;
}
.margin-top{
  margin-top:25px!important;
}

.align{
  text-align: center;
}
.padding{
  padding:20px;
  margin:auto;
  padding-top:30%;
  overflow-y:scroll;
  max-width:350px;
}
.link{
  text-align:center;
  font-weight:700;
}
