<ion-header>
  <ion-toolbar>
    <ion-title>Real Estate</ion-title>
    <ion-icon (click)="close()" name="close" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title>this is {{language}} AVE</ion-title>
  <div class="padding">
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked"> Title</ion-label>
      <ion-input color="dark" [(ngModel)]="title" placeholder="Input a title"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked"> Product Thumbnail</ion-label>
      <ion-input type="password" color="dark" [(ngModel)]="thumbnail" placeholder="Upload">
      </ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Vehicle Registration Form</ion-label>
      <ion-input type="password" color="dark" [(ngModel)]="registration" placeholder="Upload">
      </ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Videos</ion-label>
      <ion-item lines="none" class="ion-no-padding entire">
        <ion-input type="password" color="dark" [(ngModel)]="bonet" placeholder="Bonet Upload"></ion-input>
        <ion-icon color="danger" name="videocam"></ion-icon>
        <ion-icon color="success" (click)="modalService.showUploadHelpModal('/assets/images/help-front.gif', 'Bonet')" class="gif" name="help-circle"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding entire">
        <ion-input type="password" color="dark" [(ngModel)]="right" placeholder="Right Side Upload"></ion-input>
        <ion-icon color="danger" name="videocam"></ion-icon>
        <ion-icon color="success" (click)="modalService.showUploadHelpModal('/assets/images/help-right.gif', 'Right Side')" class="gif" name="help-circle"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding entire">
        <ion-input type="password" color="dark" [(ngModel)]="trunk" placeholder="Trunk Upload"></ion-input>
        <ion-icon color="danger" name="videocam"></ion-icon>
        <ion-icon color="success" (click)="modalService.showUploadHelpModal('/assets/images/help-back.gif', 'Trunk')" class="gif" name="help-circle"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding entire">
        <ion-input type="password" color="dark" [(ngModel)]="left" placeholder="Left Side Upload"></ion-input>
        <ion-icon color="danger" name="videocam"></ion-icon>
        <ion-icon color="success" (click)="modalService.showUploadHelpModal('/assets/images/help-left.gif', 'Left side')" class="gif" name="help-circle"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding entire">
        <ion-input type="password" color="dark" [(ngModel)]="interiorFront"
                   placeholder="Interior front Upload"></ion-input>
        <ion-icon color="danger" name="videocam"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding entire">
        <ion-input type="password" color="dark" [(ngModel)]="interiorBack"
                   placeholder="Interior back Upload"></ion-input>
        <ion-icon color="danger" name="videocam"></ion-icon>
      </ion-item>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Memo</ion-label>
      <ion-input type="password" color="dark" [(ngModel)]="memo" placeholder="Write a comment">
      </ion-input>
    </ion-item>
    <ion-button (click)="startRendering()" expand="block" color="danger" mode="ios" class="margin-top radius">Register
    </ion-button>
  </div>

</ion-content>
