<ion-content>
  <div class="padding">
    <ion-img src="/assets/unlock.svg">
    </ion-img>

    <div>
      <ion-item lines="none">
        <ion-label class="align" color="dark">Reset your password</ion-label>
      </ion-item>
      <div *ngIf="errorMessage" class="error">
        {{errorMessage}}
      </div>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Email</ion-label>
        <ion-input color="dark" [(ngModel)]="email" placeholder="Enter your email"></ion-input>
      </ion-item>
      <ion-button (click)="resetPassword()" expand="block" color="primary" mode="ios" class="margin-top radius" [disabled]="loading">
        <span *ngIf="!loading">Reset password</span><ion-spinner *ngIf="loading"ion-spinner name="dots"></ion-spinner>
      </ion-button>
      <p class="link" (click)="goTo('login')">Password reset? <ion-text color="primary">Log in</ion-text></p>
    </div>
  </div>
</ion-content>
