/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.card-item{
  border-radius:10px;
  box-shadow:none;
  border:1px solid var(--ion-color-light)
}

.full-height {
  height: 100%;
}

.modal-wrapper {
  background: transparent !important;

  ion-content {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--ion-color-dark);
    opacity: 0.6;
  }
  .modal-content{
    margin:auto;
    position: relative;
    border-radius:20px!important;
    padding:0 20px 20px 20px!important;
    max-width:90%;
    max-height:600px;

    .modal-header{
      padding: 20px 0;
      display:flex;
      flex-direction:row;
      align-items: center;
      justify-content: space-between;

      .header-coins{
        width:20px;
        margin: 0 5px;
      }
    }
    .close-btn{
      font-size:25px;
      color: var(--ion-color-dark);
    }
  }
}


