<ion-header>
    <ion-toolbar>
        <ion-title>Cars</ion-title>
        <ion-icon (click)="close()" name="close" slot="end"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="padding">
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Brief Info</ion-label>
            <ion-input color="dark" [(ngModel)]="briefInfo" placeholder="brief main page info"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Options</ion-label>
            <ion-input color="dark" [(ngModel)]="optionMain" placeholder="Input options"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Engine Type</ion-label>
            <ion-input color="dark" [(ngModel)]="engineType" placeholder="Input the engine type"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Engine Size </ion-label>
            <ion-input color="dark" [(ngModel)]="engineSize" placeholder="Input the engine size"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Fuel Efficiency</ion-label>
            <ion-input color="dark" [(ngModel)]="fuelEfficiency" placeholder="Input the fuel efficiency"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Hourse Power</ion-label>
            <ion-input color="dark" [(ngModel)]="hoursePower" placeholder="Input the hourse Power"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Touque</ion-label>
            <ion-input color="dark" [(ngModel)]="touque" placeholder="Input the touque"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Drive (Wheel)</ion-label>
            <ion-input color="dark" [(ngModel)]="driveWheel" placeholder="Input the drive wheel"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Transmission</ion-label>
            <ion-input color="dark" [(ngModel)]="transmission" placeholder="Input the transmission"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Name of the Car</ion-label>
            <ion-input color="dark" [(ngModel)]="carName" placeholder="Input the name of the car"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Production Year</ion-label>
            <ion-input color="dark" [(ngModel)]="productionYear" placeholder="Input the year of production"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Price</ion-label>
            <ion-input color="dark" [(ngModel)]="price" placeholder="Input the price"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Phone Number</ion-label>
            <ion-input color="dark" [(ngModel)]="phoneNumer" placeholder="Input your phone number"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Mileage</ion-label>
            <ion-input color="dark" [(ngModel)]="mileAge" placeholder="Input the mileage"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Accident(s)</ion-label>
            <ion-input color="dark" [(ngModel)]="accident" placeholder="if exists, input accident(s)"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Fuel Type</ion-label>
            <ion-input color="dark" [(ngModel)]="fuelType" placeholder="Input the fuel type"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked"> Location</ion-label>
            <ion-input color="dark" [(ngModel)]="location" placeholder="Input the location"></ion-input>
        </ion-item>
        <ion-item class="margins" lines="none">
            <ion-label color="danger" position="stacked">Videos</ion-label>
            <ion-item lines="none" class="ion-no-padding entire">
                <input id="uploadBtn1" type="file"  (change)="mediaService.selectFile($event.target.files, 'bonet')"
                       #file1 [(ngModel)]="bonet" placeholder="Bonet Upload"/>
                <ion-icon  (click)="file1.click()" color="danger"   name="film"></ion-icon>
                <ion-icon color="success" (click)="modalService.showUploadHelpModal('/assets/images/help-front.gif', 'Bonet')" class="gif" name="help-circle"></ion-icon>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding entire">
                <input id="uploadBtn2" type="file" (change)="mediaService.selectFile($event.target.files, 'right')"
                       #file2 [(ngModel)]="right" placeholder="Right Side Upload"/>
                <ion-icon  (click)="file2.click()" color="danger"   name="film"></ion-icon>
                <ion-icon color="success" (click)="modalService.showUploadHelpModal('/assets/images/help-right.gif', 'Right Side')" class="gif" name="help-circle"></ion-icon>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding entire">
                <input id="uploadBtn3" type="file" (change)="mediaService.selectFile($event.target.files, 'trunk')"
                       #file3 [(ngModel)]="trunk" placeholder="Trunk Upload"/>
                <ion-icon  (click)="file3.click()" color="danger"   name="film"></ion-icon>
                <ion-icon color="success" (click)="modalService.showUploadHelpModal('/assets/images/help-back.gif', 'Trunk')" class="gif" name="help-circle"></ion-icon>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding entire">
                <input id="uploadBtn4" type="file"  (change)="mediaService.selectFile($event.target.files, 'left')"
                       #file4 [(ngModel)]="left" placeholder="Left Side Upload"/>
                <ion-icon  (click)="file4.click()" color="danger"   name="film"></ion-icon>
                <ion-icon color="success" (click)="modalService.showUploadHelpModal('/assets/images/help-left.gif', 'Left side')" class="gif" name="help-circle"></ion-icon>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding entire">
                <input id="uploadBtn5" type="file" (change)="mediaService.selectFile($event.target.files, 'interiorfront')"
                       #file5 [(ngModel)]="interiorFront" placeholder="Interior front Upload"/>
                <ion-icon  (click)="file5.click()" color="danger"   name="film"></ion-icon>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding entire">
                <input id="uploadBtn6" type="file"  (change)="mediaService.selectFile($event.target.files, 'interiorback')"
                       #file6 [(ngModel)]="interiorBack" placeholder="Interior back Upload"/>
                <ion-icon  (click)="file6.click()" color="danger"   name="film"></ion-icon>
            </ion-item>
        </ion-item>
        <ion-button (click)="mediaService.uploadFile('car', 6, this.language, authService.userData.freeCar, 'SAVE Car' )" expand="block" color="danger" mode="ios" class="margin-top radius">Register
        </ion-button>
    </div>

</ion-content>
