<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            SAVE
        </ion-title>
        <ion-icon (click)="modaleService.showSettingsModal()" name="menu" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment [ngModel]="dataService.displayAve" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="cvs">
            <ion-label>CVs</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cars">
            <ion-label>Cars</ion-label>
        </ion-segment-button>
        <ion-segment-button value="realestate">
            <ion-label>RealEstate</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-item *ngIf="dataService.displayAve === 'cvs'" lines="none">
        <ion-list>
            <ion-card (click)="modaleService.showRenderedVideoDetailsModal(cv)"
                      *ngFor=" let cv of dataService.videosCvs">
                <ion-card-title>
                    {{cv.name}}
                </ion-card-title>
                <ion-item lines="none">
                    <ion-grid>

                        <ion-row>
                            <ion-img src="{{cv.video}}"></ion-img>
                        </ion-row>
                        <ion-row>
                            <ion-text>{{cv.profile}}</ion-text>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-card>
        </ion-list>
    </ion-item>
    <ion-item *ngIf="dataService.displayAve === 'cars'" lines="none">
        <ion-list>
            <ion-card (click)="modaleService.showRenderedVideoDetailsModal(car)"
                      *ngFor=" let car of dataService.videosCars">
                <ion-card-title>
                    {{car.name}}
                </ion-card-title>
                <ion-item lines="none">
                    <ion-grid>

                        <ion-row>
                            <ion-img src="{{car.video}}"></ion-img>
                        </ion-row>
                        <ion-row>
                            <ion-text>{{car.briefInfo}}</ion-text>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-card>
        </ion-list>
    </ion-item>
    <ion-item *ngIf="dataService.displayAve === 'realestate'" lines="none">
        <ion-list>
            <ion-card (click)="modaleService.showRenderedVideoDetailsModal(re)"
                      *ngFor=" let re of dataService.videosRealEstate">
                <ion-card-title>
                    {{re.name}}
                </ion-card-title>
                <ion-item lines="none">
                    <ion-grid>

                        <ion-row>
                            <ion-img src="{{re.video}}"></ion-img>
                        </ion-row>
                        <ion-row>
                            <ion-text>{{re.description}}</ion-text>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-card>
        </ion-list>
    </ion-item>
    <ion-fab (click)="modaleService.showChooseAveModal()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
